{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ parent() }}
    <br><br><br><br><br><br><br>
    <h1>Bienvenue Chez Vous !!</h1>
    <br><br><br><br><br><br><br>
{% endblock %}
